<h1>{{question.question_text}}</h1>
{% if error_message%}<p><strong>{{error_message}}</strong></p>{%endif%}
<form action="{% url 'mypfapp:vote' question.id%}" method="post">
    {% csrf_token %}<!--보안을 위해-->
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <label for ="choice{{forloop.counter}}">{{choice.choice_text}}</labe></br>   
    {% endfor %}
    <input type="submit" value="Vote">
    </form>